{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>CREATE YOUR ACCOUNT</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row (registrationForm.name)}}
        {{ form_row (registrationForm.birthdate)}}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {# {{ form_row(registrationForm.agreeTerms) }} #}
        {# {{ form_row (registrationForm.name)}} #}
        {# {{ form_row (registrationForm.birthdate)}} #}
        <button type="submit" class="btn">Create Account</button>
    {{ form_end(registrationForm) }}
{% endblock %}
